body {
  font-family: 'Montserrat', sans-serif; }
  body .SmallLogo {
    display: inline;
    float: left;
    margin-right: 15px; }
  body .makeEasy {
    padding-top: 110px;
    text-align: left; }
  body .makeEasyBody {
    width: 70%;
    font-size: 20px;
    padding-bottom: 100px; }
  body .headerButtons {
    background-color: transparent;
    width: 143px;
    height: 42px;
    font-size: 11px;
    font-weight: bold;
    border: none; }
    body .headerButtons.HBalt {
      border: 1px solid white;
      border-radius: 20px; }
  body li:hover {
    text-decoration: underline; }
  body .appleLogo {
    margin-right: 17px;
    width: 15px;
    height: 17px; }
  body .bottomSpace {
    padding-bottom: 45px; }
  body .rightAlign {
    float: right; }
  body .verticalCenter {
    vertical-align: middle; }
  body .headerLeft {
    color: white;
    font-size: 16.39pt; }
  body .topAreaClass {
    padding-top: 57px;
    padding-right: 98px;
    padding-left: 98px;
    background: #0cb3f8; }
  body h1 {
    font-size: 44pt;
    font-weight: bold;
    padding-top: 55px;
    text-align: center;
    padding-bottom: 21px; }
  body .motivate {
    font-size: 12pt;
    font-weight: normal;
    color: #9a9a9a;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 75px; }
  body ul {
    list-style-image: url(../images/icon.png);
    list-style-position: inside; }
  body .new {
    background-color: #f5f4f4;
    color: black; }
  body .newBigThing {
    padding-top: 40px;
    padding-right: 98px;
    padding-left: 98px; }
  body .newButtons {
    border-radius: 20px;
    width: 59px;
    height: 19px;
    font-size: 8px;
    font-weight: bold; }
  body .newui {
    background-color: white;
    color: black;
    padding-left: 98px;
    padding-top: 21px;
    padding-bottom: 21px;
    z-index: 2; }
  body .putInLine {
    display: inline;
    padding-left: 36px;
    font-size: 12px; }
  body .header {
    color: white; }
  body .newbackground {
    background: #f5f4f4; }
    body .newbackground.hero-image {
      background: #0cb3f8; }
  body .newh3 {
    font-size: 13pt;
    font-weight: bold;
    padding-top: 38px;
    padding-bottom: 10px; }
  body .newp {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 194px;
    font-size: 13px;
    color: #9a9a9a;
    padding-bottom: 38px; }
  body .centerPhone {
    margin: auto;
    display: block; }
  body .licenseButtons {
    width: 143px;
    height: 42px;
    font-size: 11px;
    font-weight: bold;
    border: 3px solid #1b8bf9;
    border-radius: 20px;
    background-color: white;
    color: black;
    margin-bottom: 44px;
    margin-top: 40px; }
  body .rowbackground {
    background-color: black;
    color: white; }
    body .rowbackground.licensehead {
      font-weight: bold;
      font-size: 40px;
      padding-top: 62px; }
    body .rowbackground.licenseparagraph {
      font-size: 14px;
      padding-top: 0px;
      width: 50%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: #7e858b; }
  body .addMargins {
    padding-right: 98px;
    padding-left: 98px;
    background-color: black; }
  body .BMIlowerMargin {
    padding-bottom: 100px; }
  body .rowbackgroundBMI {
    background-color: black;
    color: white; }
  body .underLicenseMargin {
    padding-top: 78px; }
  body .price {
    background: white;
    color: black;
    border-radius: 5px;
    padding-top: 35px;
    padding-bottom: 10px; }
    body .price.Palt {
      background: #1b8bf9;
      color: white; }
  body .costsize {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 30px; }
  body .liClass0 {
    margin-right: 45px; }
  body .costdollar {
    font-size: 45px;
    font-weight: bold;
    padding: 5px; }
  body .subscribe {
    background-image: url(../images/cliffs.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; }
  body .subscribeheader {
    padding-top: 60px;
    color: white;
    font-weight: bold;
    font-size: 34pt; }
  body .subscribebody {
    color: white;
    width: 20%;
    text-align: center;
    font-size: 14px;
    width: 26%;
    margin-left: auto;
    margin-right: auto; }
  body .subscribeemail {
    color: white;
    background-color: gray;
    opacity: 0.6;
    border-radius: 7px;
    border: 0px;
    width: 320px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px; }
  body .subscribebutton {
    width: 143px;
    height: 42px;
    font-size: 11px;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 7px;
    background-color: white;
    color: black;
    margin-bottom: 100px; }
  body .container-footer-top {
    padding-top: 25px;
    padding-right: 98px;
    padding-left: 98px; }
  body .horizontalul {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  body .horizontallia {
    display: inline-block;
    list-style-type: none;
    color: black;
    padding: 14px;
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold; }
    body .horizontallia.headerlist {
      color: white;
      list-style-type: none; }
    body .horizontalliahalt {
      padding-left: 100px; }
  body .footerText {
    color: black;
    font-size: 16.39pt; }
  body .footerText2 {
    color: #a9a9aa;
    font-size: 12px;
    float: left;
    width: 33%; }
  body .awesomeApp {
    float: right;
    font-size: 10px; }
  body .pad-top-footer {
    padding-top: 60px;
    padding-bottom: 20px; }
